@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#3C4767;
}

#head{
    display: flex;
    flex-wrap: nowrap;
    height: 160px;
}

/* アコーディオンメニュー */
#head-menu, .menu-trigger, .menu-list{
    margin: 0 0 0 auto;
}

/* アコーディオンメニュー */
.menu-list{
    display: none;
    background-color: #fff;
}

/* アコーディオンメニューの三角ボタン */
.menu-trigger{
    display: flex;
    flex-wrap: wrap;
    top: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    margin: auto;
    cursor: pointer;
    transform: rotate(45deg);
}

/* アコーディオンメニュー選択中の三角ボタン反転 */
.menu-trigger.active {
    display: flex;
    flex-wrap: wrap;
    top: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    margin: auto;
    cursor: pointer;
    transform: rotate(-135deg);
}

.user-name {
    margin: auto;
}

.head span{
    display: flex;
    flex-wrap: nowrap;
}

.menu-list{
    text-align: center;
}

/* アコーディオンメニューの各ボタン */
.menu-list ul li button{
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
}

#name{
    display: flex;
    vertical-align: middle;
}




/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}

#container{
    flex: 0 0 80%;
}

#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

/* 投稿の上下中央揃え */
.post{
    vertical-align: middle;
}

/* ログイン画面 */
.login{
    padding-top: 2px;
    padding-bottom: 2px;
}

.table-space{
    border-collapse: separate;
    border-spacing: 15px 10px;
}

/* 新規投稿、投稿編集、投稿削除ボタン */
.post-btn{
    border:none;
    background:none;
    cursor: pointer;
}

/* 新規投稿欄 */
.form-control{
    resize: none;
    border: none;
    outline: 0;
}

/* 投稿一覧 */
.post:nth-of-type(2), td:nth-of-type(6){
    white-space: nowrap;
}
.post:nth-of-type(3){
    width: 100%;
}

/* 編集ボタン */
.edit-btn{
    cursor: pointer;
}

/* 編集画面のモーダル */
.modal-main{
    display: none;
}
.modal-inner {
    /* overflow-y: scroll; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.inner-content {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 30px 30px 0 30px;
    background-color: #ffffff;
    z-index: 3;
}
.form-control-edit{
    resize: none;
}
.edit-btn{
    display: flex;
    margin: 0 0 0 auto;
}
/* .edit-close{
    padding: 10px;
    color: #ffffff;
    background-color: #3F4765;
    cursor: pointer;
} */

/* 削除ボタン */
.delete-btn {
    cursor: pointer;
    height: 55px;
    margin-inline: auto;
    margin-top: 0;
    position: relative;
    width: 55px;
    padding-top: 0;
    overflow: hidden;
}
.delete-btn img {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
}
.delete-btn img:last-of-type{
    opacity: 0;
    transition: 0.3s;
}
.delete-btn:hover img{
    opacity: 1;
}

/* 投稿日時 */
.post-time{
    font-size: 0.7rem;
}

/* フォローボタン */
.follow{
    background-color: #7E94D2;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

/* フォローをはずすボタン */
.unfollow{
    background-color: #AD5C59;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

/* サイドボタン */
.side-btn{
    display: block;
    width: 150px;
    padding: 10px 5px;
    background: #3F4765;
    margin: 10px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

/* プロフィール画像 */
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* 相手のプロフィール */
.profile-post:nth-of-type(2), td:nth-of-type(4) {
    white-space: nowrap;
}
.profile-post:nth-of-type(3) {
    width: 100%;
}
.profile-post{
    vertical-align: middle;
}

/* ユーザー検索ボタン */
.form-control-search{
    height: 30px;
}

/* フォローリスト・フォロワーリスト */
.follow-list-text{
    font-size: 1.5rem;
}
