@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#3C4767;
}

#head{
    display: flex;
    flex-wrap: nowrap;
}

/* アコーディオンメニュー */
#head-menu, .menu-trigger, .menu-list{
    margin: 0 0 0 auto;
}

.user-name{
    padding-top: 0%;
}

/* アコーディオンメニューの三角ボタン */
.menu-trigger{
    display: flex;
    flex-wrap: wrap;
    top: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    margin: auto;
    cursor: pointer;
    transform: rotate(45deg);
}

.head span{
    display: flex;
    flex-wrap: nowrap;
}

.menu-list{
    text-align: center;
}




/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

.post{
    vertical-align: middle;
}

/* ログイン画面 */
.login{
    padding-top: 2px;
    padding-bottom: 2px;
}


.table-space{
    border-collapse: separate;
    border-spacing: 15px 10px;
}

/* 新規投稿、投稿編集、投稿削除ボタン */
.post-btn{
    border:none;
    background:none;
    cursor: pointer;
}

/* フォローボタン */
.follow{
    background-color: #7E94D2;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

/* フォローをはずすボタン */
.unfollow{
    background-color: #AD5C59;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

.side-btn{
    display: block;
    width: 150px;
    padding: 10px 5px;
    background: #3F4765;
    margin: 10px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
